// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-control{
  max-width: 400px;
}

.form-control.max{
  max-width: 80px;
}

.form-group .max{
  display: initial;
}